body > functions > pager {
    top: 50%;
    left: 50%;
    width: 350px;
    translate: -50% -50%;
    opacity: 0;
    pointer-events: none;
    scale: .8;
    transition: .25s;
    &.show0 { 
        scale: 1;
    }
    &.pages {
        pages {
            padding: 10px;
            height: 220px;
            overflow: visible;
        }
        controls {
            top: 25px;
            up-dn {
                opacity: 1;
            }
        }
    }
    back-circles {
        cir1 {

        }
        cir2 {

        }
        cir3 {

        }
    }
    add-page {
        width: 290px;
        height: 170px;
        border-radius: 20px;
        display: grid;
        place-items: center;
        margin-bottom: 20px;
        padding: 10px 0;
        transition: .25s width;

        txt {
            font-family: system-ui;
            color: #234b;
            font-size: 25px;
            text-align: center;
            border-bottom: 1px solid #fff7;
            width: 80%;
            user-select: none;
            -webkit-user-drag: none;
            cursor: context-menu;               
        }
        set-name {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            
            input {
                width: 200px;
                height: 30px;
                font-size: 23px;
                color: #234b;
                font-family: system-ui;
                padding: 3px 10px;
                box-sizing: border-box;
            }
            line {
                width: 200px;
                height: 4px;
                position: absolute;
                background: linear-gradient(45deg, #f9955c, #fe2233);
                border-radius: 5px;
                left: 0;
                bottom: 0;
            }
        }
        bl-or-pg {
            display: flex;

            img {
                width: 30px;
            }
            pb {
                display: grid;
                place-items: center;
                box-sizing: border-box;
                padding: 5px;
                margin: 0 10px;
                width: 60px;
                border-radius: 30px;
                --sha-vb1: #e7e1e1d4;
                --bg0: #ddd7;

                back {
                    height: 100%;
                    width: 100%;
                    border-radius: 30px;
                    background: #0a7effa6;
                    box-shadow: inset 3px 3px 4px #0006;
                    padding: 3px;
                    box-sizing: border-box;
                    transition: .25s;

                    cir {
                        width: 20px;
                        height: 20px;
                        background: #dbdbdb;
                        border-radius: 20px;
                        box-shadow: inset -3px -3px 6px #6667;
                        transition: .25s;
                        left: 0;
                    }
                }
            }
            what {
                width: 60px;
                cursor: context-menu;
                user-select: none;
                -webkit-user-drag: none;
                display: grid;
                place-items: center;

                > * {
                    position: absolute;
                    font-family: system-ui;
                    color: #4e99ef;
                    font-weight: 600;
                    transition: .35s;
                    &.b {
                        opacity: 0;
                        color: #1aa599;
                    }
                }
            }
            &.b {
                cir {
                    left: 23.5px;
                }
                back {
                    background: #22c4b5eb;
                }
                what {
                    * { opacity: 0 }
                    .b { opacity: 1 }
                }
            }
        }
    }
    pages {
        height: 0;
        width: 290px;
        padding: 0;
        display: grid;
        place-items: center;
        border-radius: 20px;
        box-sizing: border-box;
        transition: .25s;
        overflow: hidden;

        page-scroll {
            width: 100%;
            height: 100%;
            overflow: hidden;

            up-dn {
                ln {

                }
                up, dn {

                }
            }

            page-list {
                display: flex;
                width: 100%;
                box-sizing: border-box;
                gap: 10px;
                flex-wrap: wrap;
                
                page {
                    width: 60px;
                    height: 60px;
                    display: flex;
                    padding-left: 10px;
                    box-sizing: border-box;
                    font-size: 20px;
                    font-family: sans-serif;
                    color: #234b;
                    cursor: pointer;
                    background: linear-gradient(315deg, #7bf0ff26, #c6c3e9a1), #0000;
                    border-radius: 15px;
                    top: 0;
                    transition: .2s;

                    &:hover {
                        background: linear-gradient(315deg, #7bf0ff26, #c6c3e9a1), #ddd6;
                    }
                }
            }
        }

    }
    controls {
        width: 40px;
        height: 150px;
        position: absolute;
        top: 20px;
        right: 0;
        transition: .25s;

        ops {
            display: grid;
            place-items: center;
            gap: 5px;
            padding: 5px;
            border-radius: 30px;
            margin-bottom: 60px;

            > * {
                height: 30px;
                width: 30px;
                border-radius: 20px;
                background: #fff3;
                cursor: pointer;
            }
        }
        up-dn {
            opacity: 0;
            pointer-events: none;
            transition: .25s;
            padding: 5px 0;
            border-radius: 30px;
            display: grid;
            place-items: center;
            gap: 5px;

            up, dn {
                width: 30px;
                border-radius: 20px;
                background: #fff3;
            }
            svg {
                width: 30px;
                height: 30px;
                stroke: #35485f57;
                fill: #0000;
            }
        }
    }
}

@media (max-width: 400px) {
    body > functions > pager {
        width: 280px;
        add-page, pages {
            width: 220px;
        }
    }
}