body full-page details-panel {
    grid-area: 2 / 3 / 3 / 4;
    z-index: 1;
    border-radius: var(--br-r0) 0 0 var(--br-r0);
    h-line {
        display: flex;
        height: 36px;
        margin: 12px 12px 4px;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;

        > * {
            height: 36px;
            width: 36px;
            display: grid;
            place-items: center;
            border-radius: 12px;
            cursor: pointer;
            transition: .25s;
            &:hover {
                background: #fff6;
            }

            img {
                height: 30px;
            }
        }
    }
    b-box {
        width: calc(100% - 24px);
        height: calc(100% - 64px);
        border-radius: 12px;
        margin: 0 auto;
        background: linear-gradient(340deg, #c4c7d14f, transparent);
        box-shadow:
            inset 2px 2px 5px 1px #0002,
            inset -3px -3px 5px 0px #0001,
            inset -1px -1px 3px 1px #fff,
            5px 9px 10px 0 #d5d8e06b;

        sho-just {
            mask-image: linear-gradient(90deg, #0000 4px, #000 16px, #000 calc(100% - 16px), #0000 calc(100% - 4px));
            width: 100%;
            height: 100%;
            padding: 8px 16px;
            box-sizing: border-box;

            > * {
                position: absolute;
                width: calc(100% - 32px);
                box-sizing: border-box;
                pointer-events: none;
                opacity: 0;
                transition: .3s;

                &.s {
                    pointer-events: auto;
                    opacity: 1;
                }

                line {
                    width: 85%;
                    height: 10px auto;
                }

                sect {
                    box-sizing: border-box;
                    font-family: sans-serif;
                    color: #234;
                    width: 100%;
                    &:hover t-c::after {
                        width: 100%;
                    }

                    t-c {
                        display: flex;
                        gap: 8px;
                        align-items: center;
                        margin-bottom: 8px;
                        user-select: none;
                        -webkit-user-drag: none;
                        cursor: context-menu;

                        &::after {
                            content: '';
                            width: 0;
                            height: .5px;
                            background: #234;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            transition: .3s;
                        }
                        img {
                            width: 28px;
                            -webkit-user-drag: none;
                        }
                        tit {
                            font-size: 20px;
                        }
                    }
                    block-levels {
                        display: flex;
                        gap: 5px;
                        margin-bottom: 8px;

                        n {
                            width: 20px;
                            height: 20px;
                            border-radius: 10px;
                            display: grid;
                            place-items: center;
                            font-size: 13px;
                            cursor: pointer;
                            user-select: none;
                            -webkit-user-drag: none;
                            transition: .2s;
                            &:not(.set-neumorfe1-off):hover {
                                background: #fff7;
                            }
                        }
                    }
                    blocks {
                        width: 100%;

                        block {
                            margin-left: 8px;
                            display: grid;
                            gap: 8px;

                            set {
                                tit {

                                }
                                values {
                                    margin: 4px;
                                    display: grid;
                                    gap: 8px;

                                    value {
                                        display: flex;
                                        background: #fff9;
                                        height: 26px;
                                        align-items: center;
                                        justify-content: center;
                                        width: 228px;
                                        padding: 0 8px;
                                        gap: 4px;
                                        border-radius: 12px;
                                        box-sizing: border-box;

                                        &[type="2number"] {
                                            key {
                                                box-shadow: 1px 0 var(--tx-col0);
                                                width: 16px;
                                                height: 20px;
                                                font-size: 17px;
                                                line-height: 23px;
                                                padding-right: 4px;
                                                color: var(--tx-col0);
                                            }
                                            svg {
                                                width: 28px;
                                                height: 28px;
                                                scale: .75;
                                                stroke: #49525b;
                                                fill: #0000;
                                                stroke-width: 2px;
                                            }
                                            input {
                                                text-align: right;
                                                padding-top: 1px;
                                                color: var(--tx-col0);
                                                font-family: monospace;
                                                font-size: 15px;
                                                width: 62px;
                                            }
                                        }
                                        &[type="3number"] {
                                            key {
                                                width: 6px;
                                                height: 20px;
                                                font-size: 17px;
                                                line-height: 23px;
                                                color: var(--tx-col0);
                                            }
                                            input {
                                                text-align: right;
                                                padding-top: 1px;
                                                color: var(--tx-col0);
                                                font-family: monospace;
                                                font-size: 15px;
                                                width: 48px;
                                                &:nth-of-type(1) {
                                                    width: 56px;
                                                }
                                                &:nth-of-type(3) {
                                                    text-align: left;
                                                }
                                            }
                                        }
                                        
                                        /* key, unit {
                                            cursor: context-menu;
                                            user-select: none;
                                            -webkit-user-drag: none;
                                        }
                                        unit {
                                            cursor: pointer;
                                        } */
                                        
                                        /* &[type=quantity] input {
                                            text-align: end;
                                            height: 20px;
                                            border-left: 1px solid #2345;
                                            border-right: 1px solid #2345;
                                            padding: 0 5px;
                                            color: #345;
                                            width: 100%;
                                        }
                                        &[type=v1-v2] {
                                            height: 36px;
                                            display: grid;
                                            grid-template: 1fr / 1fr 46px 1fr;
                                            place-items: center;
                                            v1-v2 {
                                                width: 46px;
                                                height: 26px;
                                                background: #1e81beab;
                                                border-radius: 14px;
                                                display: flex;
                                                align-items: center;
                                                box-sizing: border-box;
                                                padding: 3px;
                                                cir {
                                                    width: 20px;
                                                    height: 20px;
                                                    background: #fff;
                                                    border-radius: 20px;
                                                    transition: .2s;
                                                    left: 0;
                                                }
                                            }
                                            &.v2 cir { left: 20px; }
                                        } */
                                        &[type=2number] {

                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        pr-box {
            line {

            }
            

            /* > * {
                padding: 0 20px 10px;
                box-sizing: border-box;
                font-family: sans-serif;
                color: #345;
                tit {
                    font-size: 20px;
                    width: 140px;
                    text-align: center;
                    &:after {
                        content: '';
                        width: 0%;
                        height: 1px;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        background: #345;
                        transition: .3s;
                        user-select: none;
                        -webkit-user-drag: none;
                        cursor: context-menu;
                    }
                }
                &:hover tit::after {
                    width: 100%;
                }
            }
            pos-siz {
                data-block {
                    display: grid;
                    grid-template: 1fr 1fr / 1fr 1fr;
                    margin-top: 10px;

                    set {


                        input {
                            font-size: 13px;
                            font-family: system-ui;
                            border: 0;
                            outline: none;
                            padding: 0 0 0px 5px;
                            width: 95px;
                            height: 25px;
                            background: #0000;
                            border-bottom: 1px solid #3459;
                            color: #345;
                        }
                    }
                }
            } */
        }


        rs-box {

        }
    }
}